<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout-only}">
<head>
    <meta charset="UTF-8">
    <title>AROUNDERS | 채팅방 목록</title>

    <!-- Bootstrap -->

    <!-- CSS -->
    <link href="/css/chat/list.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script src="/js/ajax/ajax.js"></script>
    <script defer type="module" src="/js/chat/list.js"></script>
</head>
<h1>ChatRoom List Page</h1>

<main layout:fragment="main">

    <div class="chat-room-info-box">
        <div>
            <img src="/image/chat/pin.png" alt="pin icon" class="icon-pin">
            <span class="chat-room-city" th:text="${city}">서울특별시</span>
            <span class="chat-room-region" th:text="${region}">종로구</span>
        </div>
        <button class="btn-to-board" title="게시글 목록">게시글 목록</button>
    </div>

    <div class="chat-room-form-box">
        <form action="" method="post" id="chat-room-form">
            <input type="text" name="title" class="title-input" placeholder="Chat Room's Title">
            <button class="btn-create" title="채팅방 개설">Create</button>
        </form>
    </div>

    <div class="chat-rooms">
       <div class="chat-room" th:each="chatRoom : ${list}" th:object="${chatRoom}">
           <div class="upper">
               <a class="title" th:href="@{room(id=*{id}, cityId=*{cityId}, region=*{region})}" th:data-id="*{id}" th:text="*{title}">제목</a>
               <span class="created-at" th:text="*{#temporals.format(createdAt, 'yyyy/MM/dd')}">2021/06/26</span>
           </div>
           <div class="lower">
               <!--<span class="creator" th:text="|Creator : *{creator}|">creator</span>-->
               <span class="clients-count" th:text="*{count}">12</span>
               <span class="count-text">명 참여중</span>

           </div>
       </div>
    </div>

    <!--Modal-->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">채팅방 참여</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-body-content">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-join">Join</button>
                    <button type="button" class="btn btn-primary btn-create">Create</button>
                    <button type="button" class="btn btn-secondary btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</main>
</html>