<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout-only}">
<head>
    <title>AROUNDERS | 채팅</title>

    <!-- CSS -->
    <link href="/css/chat/room.css" rel="stylesheet" type="text/css">

    <!-- WebSocket / STOMP / SockJS -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- JS -->
    <script th:inline="javascript">
        const chatRoomId = [[${room.id}]];
        const region = [[${session.region}]];
        const memberId= [[${session.id}]];
        const nickname = [[${session.nickname}]];
    </script>
    <script src="/js/ajax/ajax.js"></script>
    <script defer type="module" src="/js/chat/room.js"></script>
</head>
<!-- Main -->
<main th:object="${room}" layout:fragment="main">

    <div class="room-box">
        <h1 class="room-title" th:text="*{title}"></h1>

        <div class="room-inner-box">
            <div class="room-button-box">
                <button class="btn-disconnect">목록</button>
                <button class="btn-clients">유저 목록</button>
                <button th:if="${room.memberId == session.id}" class="btn-close">채팅방 삭제</button>
                <button th:if="${room.memberId != session.id}" class="btn-exit">채팅방 탈퇴</button>
            </div>

            <div class="room-info">
                <span>Creator : &nbsp</span>
                <span class="room-creator" th:text="*{creator}"></span>
                <!--&nbsp/&nbsp<span class="room-created-at" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}"></span>-->
            </div>
        </div>
    </div>
    <div class="clients-box hide">
        <h1 class="clients-title" th:text="'참여중인 사람'">참여중인 사람</h1>
        <div class="clients">

        </div>
    </div>

    <div class="chat-box">
        <div class="block-load" th:text="'이전 채팅내역을 가져옵니다.'">이전 채팅내역을 가져옵니다.</div>
        <div class="chats">

        </div>
    </div>

    <div class="form-box">
        <form>
            <input type="text" name="content" id="chat-content" autocomplete="off">
            <input type="submit" class="btn-send" value="Send" id="chat-send">
        </form>
    </div>
</main>
</html>