<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout-only}">
<head>
    <meta charset="UTF-8">
    <title>AROUNDERS | 관리자 - 게시글 관리</title>

    <!-- CSS -->
    <link href="/css/admin/boards.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/admin/boards.js"></script>
</head>
<main layout:fragment="main">

    <div class="boards-dashboard">
        <div class="today">
            <p>Today Reg</p>
        </div>
        <div class="process">
            <p>Process</p>
        </div>
        <div class="finished">
            <p>Finished</p>
        </div>
    </div>

    <div class="boards-sub-box">
        <div></div>
        <div class="admin-button-box">
            <button class="btn-to-main" onclick="location = '/board/list'" title="돌아가기">main</button>
            <button class="btn-to-member" onclick="location = 'members'" title="사용자 관리">member</button>
            <button class="btn-to-report" onclick="location = 'reports'" title="신고 관리">report</button>
        </div>
    </div>

    <div class="boards">

    </div>

</main>
</html>