<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout-only}">
<head>
    <meta charset="UTF-8">
    <title>AROUNDERS | 내가 참여하는 채팅방</title>

    <!-- CSS -->
    <link href="/css/mypage/rooms.css" rel="stylesheet" type="text/css">
    <link href="/css/chat/list.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script src="/js/ajax/ajax.js"></script>
    <script type="module" src="/js/mypage/rooms.js"></script>
</head>
<main layout:fragment="main">

    <div class="rooms-btn-box">
        <div class="room-info-box">
            <img src="/image/board/chat.png" alt="pin icon" class="icon-pin">
            <span class="page-title">나의 채팅방</span>
        </div>

        <div class="room-btn-box">
            <button class="btn-to-board" th:text="'글 목록'" title="글 목록">버튼</button>
            <button class="btn-to-mypage" th:text="'마이페이지'" title="마이페이지">버튼</button>
        </div>
    </div>

    <div>
        <div class="chat-rooms">

        </div>
    </div>
</main>
</html>