<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout-only}">
<head>
    <meta charset="UTF-8">
    <title>AROUNDERS | 내가 참여하는 채팅방</title>

    <!-- CSS -->
    <link href="/css/mypage/rooms.css" rel="stylesheet" type="text/css">
    <link href="/css/chat/list.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script src="/js/ajax/ajax.js"></script>
    <script type="module" src="/js/mypage/rooms.js"></script>
</head>
<main layout:fragment="main">

<div>
    <div class="chat-rooms">

    </div>
</div>
</main>
</html>