<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{include/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>AROUNDERS | 글 작성</title>

    <!-- CSS -->
    <link href="/css/board/register.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script defer src="/js/board/register.js"></script>
</head>
<main layout:fragment="main">
<div class="back-box">
    <span class="button-back">뒤로가기</span>
    <h1 class="register-title">글 작성</h1>
</div>

<div class="regForm-box">
    <form th:action="@{register}" method="post" th:object="${board}" id="regForm" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <section>
            <h1 class="hide">Category</h1>
            <select class="category" th:field="*{categoryId}">
                <option value="2">공유</option>
                <option value="3">모집</option>
                <option value="4">맛집</option>
                <option value="5">일상/소통</option>
                <option value="6">질문/답변</option>
            </select>
        </section>

        <section class="title-box">
            <h1 class="hide">Title</h1>
            <input maxlength="50" type="text" th:field="*{title}" placeholder="제목">
        </section>

        <section class="content-box">
            <h1 class="hide">Content</h1>
            <textarea th:field="*{content}" placeholder="내용을 입력해주세요."></textarea>
        </section>

        <section class="file-box">
            <h1 class="hide">Files</h1>
            <label for="file" class="btn-upload" th:text="Upload">업로드</label>
            <input id="file" type="file" name="file" multiple>
        </section>
        <section class="thumbnail-box">
            <h1 class="hide">Thumbnails</h1>
            <div class="thumbnail-frame">

            </div>

            <div class="hint hide">썸네일용 이미지를 선택해주세요.</div>
        </section>

        <input type="hidden" th:name="thumbIdx">

        <div class="button-box">
            <button class="btn-submit">Submit</button>
        </div>

    </form>
</div>

    <!--Modal-->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-body-content">이미지 파일만 업로드 할 수 있습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-cancel">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

</main>
</html>