<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <aside th:fragment="aside">
        <div class="aside-title">
            ASIDE
        </div>
        <nav class="feeds-list">
            <ul class="feeds">
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">전체</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">공유</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">모집</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">맛집</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">일상</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#" class="">질문/답변</a>
                </li>
                <li class="btn-feed">
                    <span class="aside-icon "></span>
                    <a href="#">Tips</a>
                </li>
            </ul>
        </nav>
    </aside>
</html>