<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROUNDERS | 비밀번호 찾기</title>

    <link rel="stylesheet" href="/css/common/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="/css/common/common-library.css" type="text/css">
    <link rel="stylesheet" href="/css/member/findAccount.css" type="text/css">
    <link rel="stylesheet" href="/css/common/index.css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous"/>
    <script defer src="/js/member/accountFinderModule.js"></script>
</head>
<body>
<main class="max-width-default center w-80 h-100">
    <section class="password-find-svg w-100"></section>
    <section class="input-form w-100 max-width-ms" id="input-login">
        <h1 class="page-title">FIND PASSWORD</h1>
        <form th:action="@{/member/update/password}" id="form-find" method="post" class="fx-column">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="email fx-column">
                <label for="email">Email ID</label>
                <input type="text" name="email" id="email" class="form-input-text" />
            </div>
            <div class="nickname fx-column">
                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" id="nickname" class="form-input-nickname" />
            </div>
        </form>
        <div class="btn-section fx-column w-100 max-width-ms">
            <button class="btn send-btn" id="password-btn">SEND</button>
        </div>
    </section>
</main>
<footer>
    <span>Copyright &copy; 2021 AROUNDERS All rights reserved</span>
</footer>
</body>
</html>