<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROUNDERS | 500 ERROR</title>
    html{
    background: #F6F5F3 !important;
    }
    body, html{
    height: 100%;
    margin: 0;
    position: relative;
    }
    body{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .content-box{
    margin-top: 100px;
    flex-grow: 1;
    text-align: center;
    }
    .background{
    height: 300px;
    background: url('/image/error/404.svg') no-repeat center;
    background-size: contain;
    }
    .title{
    margin: 20px 0 0 0;
    font-size: 20px;
    }
    .link{
    text-decoration: none;
    color: #346ce0;
    font-weight: bold;
    margin-right: 200px;
    }
    </style>
    <link href="/css/common/common.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content-box">
    <div class="background">

    </div>
    <h1 class="title">요청을 처리할 수 없습니다.</h1>
    <a class="link" href="/board/list">HOME</a>
</div>

<footer>
    <span>Copyright &copy; 2021 AROUNDERS All rights reserved</span>
</footer>
</body>
</html>