@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap');

:root{
    /* font */
    
    --fs-pc-lg: 25px;
    --fs-pc-md: 18px;
    --fs-pc-sm: 12px;
    --fs-mb-lg: 18px;
    --fs-mb-md: 14px;
    --fs-mb-sm: 10px;

    --color-basic: #979797;
    --color-strong: #ff6a00;
    --color-skyblue: #46DBC9;
    --color-gray: #C5C5C5;

    --bg-color-basic: #fff;
    --bg-color-light: #e9e9e9;
    --bg-color-dark: #313131;
    
    /* font */
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    font-family: 'Noto', 'Sans KR', 
    'sans-serif' !important;
    font-size: var(--fs-mb-md);
    position: relative;

    max-width: 1180px;
    margin: 0 auto;
}
main{
    position: relative;
    top: 70px;
}

@media screen and (min-width: 800px){

    body{
        font-size: var(--fs-pc-md);
    }
}