<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    form {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
</style>
<body>
<form method="post" th:action="@{/login}">
    <label for="email">email</label>
    <input type="text" name="email" id="email">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">sign in</button>
</form>
</body>
</html>