<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Community | Welcome</title>
    <link rel="stylesheet" href="/css/common/reset.css"/>
    <link rel="stylesheet" href="/css/common/common-library.css"/>
    <link rel="stylesheet" href="/css/common/common.css"/>
    <link rel="stylesheet" href="/css/member/signup.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/include/header.css"/>
    <link rel="stylesheet" href="/css/common/index.css"/>
    <script defer src="/js/common/index.js"></script>
    <script defer src="/js/member/memberModule.js"></script>
    <script defer src="/js/member/emailAuthModule.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous"/>
</head>
</head>
<body>
<main class="max-width-default center w-80 h-100">
    <section class="main-svg w-100"></section>
    <section class="input-form w-100 max-width-ms" id="input-login">
        <h1 class="page-title">SIGN IN</h1>
        <form th:action="@{/login}" id="form-login" method="post" class="fx-column">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="email fx-column">
                <label for="email">Email ID</label>
                <input type="text" name="email" id="email" class="form-input-text" />
            </div>
            <div class="password fx-column">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-input-password" />
            </div>
            <p class="invalid dp-none">Invalid Email or Password, please try again</p>
        </form>
        <div class="find-section w-100 max-width-ms text-right">
            <a class="find-password" th:href="@{/member/findAccount}">forget password?</a>
        </div>
        <div class="btn-section fx-column w-100 max-width-ms">
            <button class="btn btn-sign-in">SIGN IN</button>
            <button class="btn btn-sign-up">SIGN UP</button>
        </div>
    </section>
    <section class="modal-container">
        <div class="modal-item overlay dp-none"></div>
        <div class="modal-item signup-box dp-none">
            <div class="mb-title text-center dp-none">
                <span class="btn-back"></span>
                <h1>SIGN UP</h1>
            </div>
            <div class="pc-title text-center">
                <h1>SIGN UP</h1>
            </div>
            <form th:action="@{/member/signup}" method="POST" class="form-signup" id="form-signup">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="input-container" id="input-container">
                    <label for="email">이메일(아이디)<span class="required">*</span></label>
                    <input class="form-input-text" type="email" id="signup-email" name="email"/>

                    <input class="form-input-text pointer verify-btn w-30" type="button" value="인증하기" id="requestAuth"/>

                    <label for="password">비밀번호<span class="required">*</span></label>
                    <input class="form-input-text" type="password" id="signup-password" name="password"/>

                    <label for="passwordConfirmed">비밀번호 확인<span class="required">*</span></label>
                    <input class="form-input-text" type="password" id="passwordConfirmed"/>

                    <label for="nickname">닉네임(유저명)<span class="required">*</span></label>
                    <input class="form-input-text" type="text" id="nickname" name="nickname"/>

                    <label for="phone">휴대폰번호</label>
                    <input class="form-input-text"
                           type="tel"
                           name="phone"
                           id="phone"
                           required
                           pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}"
                           maxlength="13"
                           placeholder="예) 010-1234-5678">

<!--                    <label for="addr">주소<span class="required">*</span></label>-->
<!--                    <input class="form-input-text" type="text" id="addr" name="addr"/>-->

<!--                    <label for="addrDtl">상세주소(직접입력)</label>-->
<!--                    <input class="form-input-text" type="text" id="addrDtl" name="addrDtl"/>-->
<!--                    <a class="btn-location-agreement" href="#" id="location-agreement">위치정보수집 동의하기</a>-->
                </div>
            </form>
            <div class="btn-section">
                <a class="btn-signup" id="submitBtn">Join Now</a>
            </div>
        </div>
    </section>
    <script>
        function putAddr(roadAddrPart1, addrDetail){
            document.getElementById('addr').value = roadAddrPart1;
            document.getElementById('addrDtl').value = addrDetail;
            validations.address = true;
        };
    </script>
</main>
<footer>
    <span>Copyright &copy; 2021 AROUNDERS All rights reserved</span>
</footer>
</body>
</html>