<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arounders.web.repository.BoardRepository">
    <select id="getList" resultType="com.arounders.web.dto.BoardDTO">
        select * from BOARD_VIEW WHERE IS_HIDDEN = 0 ORDER BY ID DESC
    </select>

    <select id="getHiddenList" resultType="com.arounders.web.dto.BoardDTO">
        select * from BOARD_VIEW WHERE IS_HIDDEN = 1 ORDER BY ID DESC
    </select>

    <select id="getBoard" resultType="com.arounders.web.dto.BoardDTO">
        select * from BOARD_VIEW where ID = #{id}
    </select>

    <insert id="insert" parameterType="Board">
        INSERT INTO BOARD(TITLE, CONTENT, REGION, MEMBER_ID, CATEGORY_ID, THUMBNAIL_NAME, THUMBNAIL_PATH)
        VALUES(#{title}, #{content}, #{region}, #{memberId}, #{categoryId}, #{thumbnailName}, #{thumbnailPath})
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="Board">
        UPDATE BOARD
        <set>
            <if test="title != null">TITLE = #{title},</if>
            <if test="content != null">CONTENT = #{content},</if>
            <if test="thumbnailName != null">THUMBNAIL_NAME = #{thumbnailName},</if>
            <if test="thumbnailName != null">THUMBNAIL_PATH = #{thumbnailPath},</if>
            UPDATED_AT = NOW()
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM BOARD WHERE ID = #{id}
    </delete>
</mapper>