<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arounders.web.repository.ChatRoomRepository">

    <select id="findAllByRegionAndCityId" resultType="com.arounders.web.dto.ChatRoomDTO">
        SELECT * FROM CHAT_ROOM_VIEW
        WHERE REGION = #{region} AND CITY_ID = #{cityId} AND FINISHED_AT IS NULL
        ORDER BY ID DESC
    </select>

    <select id="findById" resultType="com.arounders.web.dto.ChatRoomDTO">
        SELECT * FROM CHAT_ROOM_VIEW WHERE ID = #{id}
    </select>

    <select id="findByBoardId" resultType="com.arounders.web.dto.ChatRoomDTO">
        SELECT * FROM CHAT_ROOM_VIEW WHERE BOARD_ID = #{boardId}
    </select>

    <select id="isClose" resultType="Integer">
        SELECT COUNT(ID) FROM CHAT_ROOM WHERE FINISHED_AT IS NULL AND ID = #{id}
    </select>

    <insert id="insert" parameterType="ChatRoom">
        INSERT INTO CHAT_ROOM(TITLE, REGION, MEMBER_ID, CITY_ID, BOARD_ID)
        VALUES(#{title}, #{region}, #{memberId}, #{cityId}, #{boardId})

        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="close">
        UPDATE CHAT_ROOM SET FINISHED_AT = NOW() WHERE ID = #{id}
    </update>

    <update id="update">
        UPDATE CHAT_ROOM SET TITLE = #{title} WHERE ID = #{id}
    </update>

</mapper>