<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arounders.web.repository.ReportRepository">

    <select id="findById" resultType="com.arounders.web.dto.ReportDTO">
        SELECT * FROM REPORT_VIEW WHERE ID = #{id}
    </select>

    <select id="isReport" resultType="Integer">
        SELECT COUNT(ID) FROM REPORT WHERE MEMBER_ID = #{memberId} AND BOARD_ID = #{boardId}
    </select>

    <select id="findAllByOptions" resultType="com.arounders.web.dto.ReportDTO">
        SELECT * FROM REPORT_VIEW
            <trim prefix="where" prefixOverrides="AND">
                <if test="status != null">
                    IS_FINISHED = #{status}
                </if>
                <if test="boardId != null">
                    AND BOARD_ID = #{boardId}
                </if>
            </trim>
        ORDER BY ID DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert" parameterType="Report">
        INSERT INTO REPORT(MEMBER_ID, BOARD_ID)
        VALUES(#{memberId}, #{boardId})

        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE REPORT SET IS_FINISHED = 1 WHERE ID = #{id}
    </update>

    <!-- counts -->
    <select id="getCountToday" resultType="Integer">
        SELECT COUNT(ID) FROM REPORT WHERE date(created_at) = DATE_FORMAT(NOW(), '%Y%m%d')
    </select>
    <select id="getCountProcess" resultType="Integer">
        SELECT COUNT(ID) FROM REPORT WHERE IS_FINISHED = 0
    </select>
    <select id="getCountFinish" resultType="Integer">
        SELECT COUNT(ID) FROM REPORT WHERE IS_FINISHED = 1
    </select>
</mapper>