<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arounders.web.repository.ReviewRepository">
    <select id="getReviewListOfBoard" resultType="com.arounders.web.dto.ReviewDTO">
        SELECT * FROM REVIEW_VIEW WHERE BOARD_ID = #{boardId} ORDER BY ID DESC
    </select>

    <select id="getReviewListOfMember" resultType="com.arounders.web.dto.ReviewDTO">
        SELECT * FROM REVIEW_VIEW WHERE MEMBER_ID = #{memberId} ORDER BY ID DESC
    </select>

    <insert id="insert" parameterType="Review">
        INSERT INTO REVIEW(RATE, CONTENT, CREATED_AT, MEMBER_ID, BOARD_ID)
        VALUES(#{rate}, #{content}, NOW(), #{memberId}, #{boardId})
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="Review">
        UPDATE REVIEW
        <set>
        <if test="rate != null">RATE = #{rate},</if>
        <if test="content != null">CONTENT = #{content}</if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM REVIEW
        WHERE ID = #{reviewId}
    </delete>
</mapper>